@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');
@import "tailwindcss";

@theme {
  --font-poppins: 'Poppins', sans-serif;
}

@layer components {
  /* Button Styles */
  .btn-base {
    @apply font-poppins text-base md:text-lg px-8 py-4 rounded-md 
            transition-all duration-300 ease-in-out transform
            hover:scale-105;
  }

  .btn-primary {
    @apply bg-white/90 text-gray-900 font-poppins 
            shadow-md backdrop-blur-sm
            hover:bg-white hover:shadow-xl;
  }

  .btn-secondary {
    @apply bg-transparent border border-white/80 text-white font-poppins
            backdrop-blur-xs
          hover:bg-white/20 hover:text-white;
  }
  
  /* Company Icons */
  .company-icons {
    @apply h-20 w-auto md:h-28 grayscale 
            hover:grayscale-0 hover:scale-105
            transition duration-300 ease-out;
  }

  /* Featured Listing Cards */
  .listing-card {
    @apply grid grid-cols-1 md:grid-cols-2 gap-5 items-center;
  }

  .listing-image {
    @apply overflow-hidden rounded-lg shadow-md;
  }
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' stroke='%236b7280' stroke-width='2' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19 9l-7 7-7-7'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right .5rem center;
  background-size: 1em;
}